.background {
  background-color: rgba(252, 202, 70, 0.2);
}

.container-index {
  display: flex;
  justify-content: space-around;
}

.container-index h2 {
  color: #233D4D;
  padding: 16px;
}

.container-art-work {
  margin: 0 20px;
  min-height: 80vh;
}

.left-index {
  height: 50vh;
}

.h1 {
  padding: 16px;
  color: #FE7F2D;
}

.h2 {
color: #233D4D;
}

.p {
  color: #233D4D;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  border-color: rgb(233,144,60);
  outline: none;
}

#artworks {
  height: 32px;
}

.mapboxgl-map {
      height: 100%;
      width: 100%;
    }
