// Specific CSS for your home-page
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(252, 202, 70, 0.2);
  position: relative;
}

// .nav-container {
//   background: #FCCA46;
//   height: 145px;
//   margin: 0;

// }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  // background: #FCCA46;
}

.btn-outline-warning {
  border-radius: 5px;
}

.form {
  position: relative;
  right: 100px;
  top:-70px;
}

.form-control {
  font-size: 20px;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

.nav-items li {
  list-style: none;
  margin-right: 120px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: rgba(35, 61, 77, 0.8);
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.header-container {
  background: rgba(252, 202, 70, 0.2);
  background-size: contain;
  height: 100vh;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
 font-weight: bold;
 font-size: 64px;
 line-height: 75px;
 color: #233D4D;
 position: relative;
 right: 100px;
 top:-80px;
}

header p {
 font-size: 30px;
 line-height: 42px;
 color: #233D4D;
 width: 405px;
 position: relative;
 right: 100px;
 top:-70px;
 margin-bottom: 48px;
}

header a {
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  right: 100px;
  top: -50px;
  background: #233D4D;
  border-radius: 6px;
  padding: 12px 48px;
  transition: 300ms;
}

header a:hover {
  transform: translateY(-8px);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}



