// Specific CSS for your home-page
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(252, 202, 70, 0.2);
  position: relative;
}

.bgimg-1 {
    background-image: url("https://media.architecturaldigest.com/photos/58c9948f3ebe3b50fd11e035/16:9/w_2560%2Cc_limit/0513-AD-SEGU-09.jpg");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// .nav-container {
//   background: #FCCA46;
//   height: 145px;
//   margin: 0;

// }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  // background: #FCCA46;
  display: flex;
  text-align: center;
}

.nav-profile {
  display: flex;
  text-align: center;
}

.nav-profile {
  color: rgba(35, 61, 77, 0.8);
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  padding-top: 20px;
  line-height: 24px;
}

.nav-profile a {
  color: rgba(35, 61, 77, 0.8);
  font-size: 13px;
}

.session {
  text-decoration: none;
  color: rgba(35, 61, 77, 0.8);
  padding-right: 95px;
  padding-top: 0px;
  font-size: 20px;
}

.session a {
  color: rgba(35, 61, 77, 0.8);
}

#artswap {
  font-size: 50px;
  line-height: 30px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #FE7F2D;
}

.search-btn {
  border-radius: 5px;
  padding: 5px;
}

.form {
  position: relative;
  right: 69px;
  top: -100px;
  display: flex;
  align-items: center;
  color: rgba(35, 61, 77, 0.8);
}

.search-form {
  border-radius: 5px;
  height: 39px;
  border-color: rgba(35, 61, 77, 0.8);
  background-color: #FFFFF1;
  outline: none;
}

.form-control {
  font-size: 20px;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

.nav-items {
  margin-bottom: 0px;
}

.nav-items li {
  list-style: none;
  margin-right: 120px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: rgba(35, 61, 77, 0.8);
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

.header-container {
  background: rgba(252, 202, 70, 0.2);
  background-size: contain;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
 font-weight: bold;
 font-size: 64px;
 line-height: 75px;
 color: #233D4D;
 position: relative;
 right: 100px;
 top:-80px;
 text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

header p {
 font-size: 30px;
 line-height: 42px;
 color: #233D4D;
 width: 405px;
 position: relative;
 right: 100px;
 top:-70px;
 margin-bottom: 48px;
 text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

header a {
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  right: 100px;
  top: -50px;
  background: #233D4D;
  border-radius: 6px;
  padding: 12px 48px;
  transition: 300ms;
}

header a:hover {
  transform: translateY(-8px);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}



