.large-card {
  color: #FE7F2D;
  border-radius: 5%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  display:flex;
  justify-content: space-evenly;
  height: 1000px;


}

.left-card {
  border: 2px solid #FCCA46;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  margin-top: 78px;

}

.profile-photo {
  width: 300px;
  height: 200px;
  border: 2px solid #FCCA46;

}

.booking-list {
  border: 2px solid #FCCA46;
  border-radius: 5px;
  color:#233D4D;
  background-color: white;
  width: 500px;
  height: 400px;
  margin: 10px;

}

h1 {
  text-align: center;
}

h3 {
  margin-top: 10px;
  font-size: 15px;
}

h4 {
  font-size: 14px;
  display:flex;
  margin-left: 20px;
  color:#233D4D;
  font-size: 18px;
}

h5 {
color: #FE7F2D;
font-size: 15px;
}

#nav-tab {
  color: #233D4D;
  border-radius: 5px;
  width: 100%;
  .nav-link {
    flex-grow: 1;
  }
}

#nav-tabContent {
  width: 100%;
}

.title {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.right-card {
  width: 500px;
}
