body {
  background-color: rgba(252, 202, 70, 0.2);
  position: relative;
}

.headings {
  padding-left: 250px;
}

.container-second {
  background-color: #FE7F2d;
  color: #233D4D;
  padding: 10px;
}

.container-third {
  background-color: #FCCA46;
  height: 400px;
  opacity: 0.3;
  color: #233D4D;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container-cards {
  display: flex;
  padding-left: 30px;

}
.product-info {
  width: 410px;
  height: 350px;
  margin: 30px;
  padding: 30px;
  font-size: 14px;
  color: #233D4D;
}

.booking-form {
  width: 300px;
  height: 400px;
  font-size: 14px;
  color: #233D4D;
  border: 5px solid #FCCA46;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  position: fixed;
  top: 100px;
  right: 50px;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.prices {

}

#new_booking {
  font-size: 15px;
}

.product-info > h1 {
 color:#FE7F2d;
 text-align: left;
}

#img-large {
  padding: 30px;
  width: 500px;
  height: 600px;
}

.img {
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 130px;
  object-fit: cover;
}

.img:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.leftside {
  display: flex;
  flex-direction: column;
  align-item: center;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-item: center;
}

.small-images {
  display: flex;
  justify-content: space-around;
}

.cards {
  padding-left: 30px;
}

.price-label {
  font-size: 16px;
  display:flex;
}

