<body class="background">
  <div class="navbar">

  <div class="container-index">
    <div class="leftside">
      <h1 class="h1"><strong>artwork to rent</strong></h1>
      <h2>Filter</h2>
      <img class="img" src="https://images.unsplash.com/photo-1526197393380-592c737d3bfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=661&q=80" alt="filter">
    </div>

    <div class="rightside">
    <div class="cards">
      <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
      <div class="card-art">
        <img src="https://images.unsplash.com/photo-1577720580479-7d839d829c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80" alt="painting">
        <div>
          <p class="p"><%="#{artwork.title}, #{artwork.artist}" %></p>
        </div>
          <div class="price-and-category">
            <p class="p"><%= artwork.category %></p>
            <h2 class="h2">£99.99</h2>
          </div>
      </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</body>
